/* ============================================ */
/* Colors                                       */
/* ============================================ */

$primary-color: $primary-fern-400;
$primary-color-hover: $primary-fern-700;

$secondary-color: $secondary-red-500;
$secondary-color-hover: $secondary-red-800;

/* ============================================ */
/* Text                                         */
/* ============================================ */

$text-color: $dark-woodsmoke-50;
$text-color-hover: $dark-woodsmoke-300;

$anchor-color: $primary-color;
$anchor-color-hover: $primary-color;

/* ============================================ */
/* Fonts                                        */
/* ============================================ */

$text-font-family: $font-oxanium;
$heading-font-family: $font-foulfiend;

/* ============================================ */
/* Background                                   */
/* ============================================ */

$body-bg-color: $dark-woodsmoke-900;

/* ============================================ */
/* Borders                                      */
/* ============================================ */

$border-color-idle: $dark-woodsmoke-300;
$border-color-hover: $dark-woodsmoke-400;
$border-color-active: $dark-woodsmoke-100;


