/* ============================================ */
/* Tokens                                       */
/* ============================================ */

@import "tokens/all";

/* ============================================ */
/* Theme                                        */
/* ============================================ */

@import "themes/dark";

/* ============================================ */
/* Vendors                                      */
/* ============================================ */

@import 
  "vendors/fonts",
  "vendors/normalize";

/* ============================================ */
/* Global                                       */
/* ============================================ */

body {
  background: $body-bg-color;
  color: $text-color;
  font-family: $text-font-family;
}

* {
  border-color: $border-color-idle;
}