/* ============================================ */
/* Colors - Branding                            */
/* ============================================ */

$primary-fern-50: #f3faf3;
$primary-fern-100: #e2f6e3;
$primary-fern-200: #c7ebca;
$primary-fern-300: #9bdaa0;
$primary-fern-400: #62bf69;
$primary-fern-500: #42a549;
$primary-fern-600: #328738;
$primary-fern-700: #2a6b2f;
$primary-fern-800: #25562a;
$primary-fern-900: #204725;

$secondary-red-50: #fff0f0;
$secondary-red-100: #ffdedd;
$secondary-red-200: #ffc2c1;
$secondary-red-300: #ff9795;
$secondary-red-400: #ff5c59;
$secondary-red-500: #ff2925;
$secondary-red-600: #fa0702;
$secondary-red-700: #d50400;
$secondary-red-800: #b00704;
$secondary-red-900: #910e0b;

/* ============================================ */
/* Colors - Monocromatic                        */
/* ============================================ */

$dark-woodsmoke-50: #f6f6f7;
$dark-woodsmoke-100: #e1e3e6;
$dark-woodsmoke-200: #c2c7cd;
$dark-woodsmoke-300: #9ba3ad;
$dark-woodsmoke-400: #767f8b;
$dark-woodsmoke-500: #5c6370;
$dark-woodsmoke-600: #484e59;
$dark-woodsmoke-700: #3c4049;
$dark-woodsmoke-800: #33353c;
$dark-woodsmoke-900: #121315;

/* ============================================ */
/* Colors - Auxiliary                           */
/* ============================================ */

$success-green-apple-50: #f4fbf2;
$success-green-apple-100: #e5f7e1;
$success-green-apple-200: #caeec4;
$success-green-apple-300: #a1df96;
$success-green-apple-400: #6fc860;
$success-green-apple-500: #46a337;
$success-green-apple-600: #388e2b;
$success-green-apple-700: #2f7025;
$success-green-apple-800: #295922;
$success-green-apple-900: #224a1d;

$warning-yellow-starship-50: #fdfde9;
$warning-yellow-starship-100: #fafbc6;
$warning-yellow-starship-200: #f9f58f;
$warning-yellow-starship-300: #f4e73f;
$warning-yellow-starship-400: #f0d81f;
$warning-yellow-starship-500: #e0c012;
$warning-yellow-starship-600: #c1970d;
$warning-yellow-starship-700: #9a6d0e;
$warning-yellow-starship-800: #805713;
$warning-yellow-starship-900: #6d4716;

$info-blue-azure-50: #f3f5fc;
$info-blue-azure-100: #e7ecf7;
$info-blue-azure-200: #c9d6ee;
$info-blue-azure-300: #99b5e0;
$info-blue-azure-400: #638fcd;
$info-blue-azure-500: #3f71b8;
$info-blue-azure-600: #325faa;
$info-blue-azure-700: #26467e;
$info-blue-azure-800: #233d69;
$info-blue-azure-900: #223558;

$error-red-cardinal-50: #fef2f2;
$error-red-cardinal-100: #fee3e2;
$error-red-cardinal-200: #fdcccb;
$error-red-cardinal-300: #fba8a6;
$error-red-cardinal-400: #f67573;
$error-red-cardinal-500: #ec4a47;
$error-red-cardinal-600: #cc2724;
$error-red-cardinal-700: #b7211e;
$error-red-cardinal-800: #971f1d;
$error-red-cardinal-900: #7d211f;
