/* ============================================ */
/* Fonts                                        */
/* ============================================ */

$font-oxanium: "Oxanium", cursive, sans-serif;
$font-foulfiend: "'Foul Fiend', serif";

/* ============================================ */
/* Font-weights                                 */
/* ============================================ */

$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;
$fw-black: 900;