/* ============================================ */
/* Font-sizes                                   */
/* ============================================ */

$fs-12: 0.75rem;
$fs-14: 0.875rem;
$fs-16: 1rem;
$fs-18: 1.125rem;
$fs-24: 1.5rem;

$fs: (
  xs: 0.75rem,
  sm: 0.875rem,
  md: 1rem,
  lg: 1.125rem,
  xl: 1.5rem,
);

/* ============================================ */
/* Containers                                   */
/* ============================================ */

$container-full: 100%;
$container-mid: 50%;
$container-mobile: calc(100vw - 48px);
$container-desktop: 1200px;

/* ============================================ */
/* Radii                                        */
/* ============================================ */

$radii-4: 0.25rem;
$radii-8: 0.5rem;
$radii-full: 9999rem;
$radii-circle: 50%;